$black: #0A0F16;
$white: #FFFFFF;
$green: #00F148;

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    
}

svg.bigboi {
    /* transform: scale(0.6);
    transform-origin: top center; */
    width: 100vw;
    height: 100vh;
}

// path.line {
//     transition: all 1s;
//     &:hover {
//         stroke-dashoffset: 100%;
//     }
// }

.container-LINJEN {
    pointer-events: bounding-box;
    transition: all 1s;
    fill: white;
}

g.group {
    transition: all .5s;
}

text {
    transition: all .5s;
    fill: $black;
    transform: rotate(-180deg);
    font-family: sans-serif;
    font-size: 2rem;
    opacity: 0;
    font-weight: bold;
}

.container-letter {
    pointer-events: bounding-box;
    transition: all .5s;
    fill: $white;
    &:hover {
        g.group {
            transform: rotate(180deg);
            fill: $black;
        }
        text {
            transform: rotate(0deg);
            fill: $white;
            opacity: 1;
        }
    }
}


// div.grid {
//     display: grid;
//     // grid-gap: 1rem;
//     height: 100%;
//     grid-template-columns: repeat(18, 1fr);
//     grid-template-rows: repeat(18, 1fr);
//     align-items: stretch;
// }

// svg.letter {
//     width: 100%;
//     height: 100%;
// }

// div.line-test-1 {
//     background-color: $green;
//     grid-column: 4 / span 7;
//     grid-row: 2 / span 1;
//     // border-right: 10px solid $green;
//     // border-top: 10px solid $green;
//     border-top-right-radius: 100px;
// }

// div.line-test-2 {
//     grid-column: 1 / span 6;
//     grid-row: 4 / span 1;
//     border-left: 10px solid $green;
//     border-top: 10px solid $green;
//     border-top-left-radius: 100px;
// }

// div.line-test-3 {
//     grid-column: 1 / span 2;
//     grid-row: 5 / span 1;
//     border-left: 10px solid $green;
//     border-bottom: 10px solid $green;
//     border-bottom-left-radius: 100px;
// }

// div.line-test-4 {
//     grid-column: 5 / span 5;
//     grid-row: 6 / span 1;
//     border-right: 10px solid $green;
//     border-top: 10px solid $green;
//     border-top-right-radius: 100px;
// }

// svg.G {
//     grid-column: 1 / span 3;
//     grid-row: 1 / span 3;
// }

// svg.R {
//     grid-column: 10 / span 3;
//     grid-row: 4 / span 3;
// }

// svg.Ö {
//     grid-column: 4 / span 3;
//     grid-row: 7 / span 3;
// }

// svg.N {
//     grid-column: 13 / span 3;
//     grid-row: 10 / span 3;
// }

// svg.A {
//     grid-column: 1 / span 3;
//     grid-row: 12 / span 3;
// }

// svg.line-1 {
//     grid-column: 4 / span 11;
//     grid-row: 2 / span 2;
//     align-self: end;
// }

// svg.line-2 {
//     grid-column: 1 / span 6;
//     grid-row: 4 / span 3;
//     align-self: center;
// }

// svg.line-3 {
//     grid-column: 5/span 8;
//     grid-row: 6/span 2;
//     align-self: center;
// }

// svg.line-4 {
//     grid-column: 3/span 6;
//     grid-row: 8/span 2;
//     align-self: center;
// }

// svg.line-5 {
//     margin-left: 20%;
//     grid-column: 1 / span 5;
//     grid-row: 10 / span 3;
//     align-self: center;
// }

// svg.line {
//     display: none;
// }

// svg.linjen {
//     grid-column: 9 / span 10;
//     grid-row: 16 / span 3;
// }