@import '../../styles/variables';


.wrapper {
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg {
    max-height: 100%;
    width: 100%;
}

.containerLetter {
        pointer-events: bounding-box;
        transition: all 1s;
        fill: white;
        path {
            opacity: 0;
        }
}

g.group {
    transition: all .5s;
}

text.text {
    transition: all .5s;
    fill: $black;
    transform: rotate(-180deg);
    font-family: sans-serif;
    font-size: 2rem;
    opacity: 0;
    font-weight: bold;
}

.container-letter {
    pointer-events: bounding-box;
    transition: all .5s;
    fill: $white;
    &:hover {
        g.group {
            transform: rotate(180deg);
            fill: $black;
        }
        text {
            transform: rotate(0deg);
            fill: $white;
            opacity: 1;
        }
    }
}
