@import "tailwindcss";

@theme {
  --color-glb-green: #00f249;
  --color-glb-green-300: #59f789;
  --color-glb-green-200: #99fab6;
  --color-glb-green-100: #ccfcdb;

  --color-glb-black: #05050f;
  --color-glb-gray-500: #5d5d63;
  --color-glb-gray-400: #9b9b9f;
  --color-glb-gray-300: #bcbcbc;
  --color-glb-gray-200: #cdcdcf;
  --color-glb-gray-100: #f0f0f0;

  --color-glb-white: #ffffff;

  --font-glb: "GT Walsheim Pro", sans-serif;

  --shadow-glb-hard: 8px 8px 0px var(--color-glb-black);
  --shadow-glb-hard-sm: 6px 6px 0px var(--color-glb-black);
  --shadow-glb-hard-lg: 10px 10px 0px var(--color-glb-black);
}

@utility t-h1 {
  @apply mb-4 text-4xl leading-tight font-bold;
  @apply md:text-5xl md:leading-tight;
}

@utility t-h2 {
  @apply t-h1;
}

@utility t-h3 {
  @apply mb-4 text-2xl leading-tight font-bold;
  @apply md:text-3xl md:leading-tight;
}

@utility t-p {
  @apply text-lg leading-relaxed;
  @apply md:text-xl md:leading-relaxed;
}

@utility t-a {
  @apply relative z-10 inline-block leading-none font-bold outline-none;
}

.t-a:not([x-apple-data-detectors]):after {
  content: "";
  @apply bg-glb-green/65;
  @apply absolute h-1/3 w-full;
  @apply bottom-0 left-1;
  @apply transition-all;
  @apply -z-1;
}

.t-a:hover:after,
.t-a:focus:after {
  @apply h-full;
}

@layer base {
  @font-face {
    font-family: GT Walsheim Pro;
    src:
      local("GT Walsheim Pro Regular"),
      local("GTWalsheimProRegular"),
      url(/font/GTWalsheimPro-Regular.woff2) format("woff2"),
      url(/font/GTWalsheimPro-Regular.woff) format("woff"),
      url(/font/GTWalsheimPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: GT Walsheim Pro;
    src:
      local("GT Walsheim Pro Bold"),
      local("GTWalsheimProBold"),
      url(/font/GTWalsheimPro-Bold.woff2) format("woff2"),
      url(/font/GTWalsheimPro-Bold.woff) format("woff"),
      url(/font/GTWalsheimPro-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  body {
    background: var(--color-glb-black);
    color: var(--color-glb-white);
    @apply font-glb;
  }
}
