@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	cursor:
		url(../assets/pointer.svg),
		auto;
}

main {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body * {
	cursor: inherit;
}

::-webkit-scrollbar {
	display: none;
}

::-moz-selection {
	/* Code for Firefox */
	@apply text-green;
	background: theme('colors.black');
}

::selection {
	@apply text-green;
	background: theme('colors.black');
}