@font-face {
	font-family: GT Walsheim Pro;
	src: local('GT Walsheim Pro Regular'), local('GTWalsheimProRegular'),
		url(../assets/font/GTWalsheimPro-Regular.woff2) format('woff2'),
		url(./assets/font/GTWalsheimPro-Regular.woff) format('woff'),
		url(./assets/font/GTWalsheimPro-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: GT Walsheim Pro;
	src: local('GT Walsheim Pro Medium'), local('GTWalsheimProMedium'),
		url(../assets/font/GTWalsheimPro-Medium.woff2) format('woff2'),
		url(../assets/font/GTWalsheimPro-Medium.woff) format('woff'),
		url(../assets/font/GTWalsheimPro-Medium.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: GT Walsheim Pro;
	src: local('GT Walsheim Pro Bold'), local('GTWalsheimProBold'),
		url(../assets/font/GTWalsheimPro-Bold.woff2) format('woff2'),
		url(../assets/font/GTWalsheimPro-Bold.woff) format('woff'),
		url(../assets/font/GTWalsheimPro-Bold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: GT Walsheim Pro;
	src: local('GT Walsheim Pro Black'), local('GTWalsheimProBlack'),
		url(../assets/font/GTWalsheimPro-Black.woff2) format('woff2'),
		url(../assets/font/GTWalsheimPro-Black.woff) format('woff'),
		url(../assets/font/GTWalsheimPro-Black.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	@apply text-black;
}

h1, h2, h3 {
	@apply font-bold;
}

h2 {
	@apply text-4xl mb-4;
	@apply leading-tight;
}

h3 {
	@apply text-2xl mb-4;
	@apply leading-tight;
}

p {
	@apply text-lg leading-relaxed;
}

@screen md {
	h2 {
		@apply text-5xl;
		@apply leading-tight;
	}
	
	h3 {
		@apply text-3xl;
		@apply leading-tight;
	}
	
	p {
		@apply text-xl leading-relaxed;
	}
}

a {
	@apply relative inline-block leading-none outline-none;
}

a:after {
	content: '';
	@apply bg-green bg-opacity-65;
	@apply h-1/3 w-full absolute;
	@apply bottom-0 left-1;
	@apply -z-10 transition-all;
}

a:hover:after,
a:focus:after {
	@apply h-full;
}
