@import '../../styles/variables';

.nav {
    background-color: transparent;
    color: $green;
    position: fixed;
    top: 0; right: 0; left: 0;
    padding: 1rem;
    padding-right: 0;
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
    z-index: 100;

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        // backdrop-filter: blur(10px);
        // background-color: rgba($black, 0.5);
        // z-index: -1;

        // @supports not (backdrop-filter: blur(10px)) {
        //     background-color: rgba($black, 0.95);
        // }
    }

    button {
        width: 4rem;
        height: 4rem;
        padding: 0;
        outline: none;
        z-index: 1;
        // display: flex;
        // flex-direction: column;
    }

    svg {
        // fill: $white;
        fill: transparent;
        stroke: $white;
    }

    g {
        transition: all .5s;
        transform-origin: 44.7% 72.6%;
    }

    a {
        cursor: pointer;
    }
}

.navOpen {
    svg {
        // fill: $black;
        stroke: $black;
    }

    g {
        transform: rotate(-30deg);
    }
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    transform: translateX(150%);
    transition: all .5s;
    right: 0; top: 0;
    background-color: $green;

    div {
        color: $black;
        padding-right: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        right: 0;
        text-align: right;
        p {
            margin: .5rem 0;
        }

    }
    svg.bubbles {
        position: absolute;
        height: 100%;
        width: 100%;
        fill: lighten($green, 33%);
        pointer-events: none;
    }
    svg.wavy {
        fill: $green;
        height: 100%;
        stroke: none;
        position: absolute;
        right: calc(100% - 1px); bottom: 0;
    }
}

.sidebarOpen {
    transform: translateX(0);
}