@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: GT Walsheim Pro;
	src: local('GT Walsheim Pro Regular'), local('GTWalsheimProRegular'),
		url(/font/GTWalsheimPro-Regular.woff2) format('woff2'), url(/font/GTWalsheimPro-Regular.woff) format('woff'),
		url(/font/GTWalsheimPro-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: GT Walsheim Pro;
	src: local('GT Walsheim Pro Medium'), local('GTWalsheimProMedium'),
		url(/font/GTWalsheimPro-Medium.woff2) format('woff2'), url(/font/GTWalsheimPro-Medium.woff) format('woff'),
		url(/font/GTWalsheimPro-Medium.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: GT Walsheim Pro;
	src: local('GT Walsheim Pro Bold'), local('GTWalsheimProBold'),
		url(/font/GTWalsheimPro-Bold.woff2) format('woff2'), url(/font/GTWalsheimPro-Bold.woff) format('woff'),
		url(/font/GTWalsheimPro-Bold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}
