.bubble {
  animation:
    float 3s ease-in infinite,
    shake 3s ease-in-out infinite;

  --wiggle: 5px;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  12%,
  36%,
  60%,
  84% {
    transform: translateX(var(--wiggle));
  }
  24%,
  48%,
  72%,
  96% {
    transform: translateX(calc(-1 * var(--wiggle)));
  }
}

@keyframes float {
  100% {
    cy: -10%;
  }
}
